.login-page{
    background: #1f1f1f;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.logo{
    width: 30%;
}
.login-btn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background-color: #fefefe;
    border-radius: 50px;
    color: #1f1f1f;
    margin-top: 20%;
    font-weight: 600;
}
a{
    text-decoration: none;
}